<%- include ("header") -%>
<h2>This is a about page</h2>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, dolore.
  Maiores, fugiat laborum ex dolores est excepturi ab natus! Facilis, dolorum
  perspiciatis? Recusandae, tenetur! Ipsum tempora fuga blanditiis omnis
  adipisci!
</p>
<%- include ("footer") -%>
